.custom-tooltip {
    right: 120%;
    top: 0;
    background-color: rgb(42, 40, 47, 0.75);
    transform: translateY(-25%);
    opacity: 0;
}

.dark-theme{
    background-color: rgb(244, 244, 244, 0.75) !important;
    color: #2A282F;
}

.tooltip-wrapper.show:hover .custom-tooltip{
    opacity: 1;
}