.btn--top {
    transition: all 250ms linear;
    right: 1rem;
    bottom: 1rem;
    background-color: #7949FF;
    padding: 0.5rem;
    border-radius: 100%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.075);
    z-index: 5000 !important;
    opacity: 0.5;
}


.btn--top:hover {
    rotate: 360deg;
    opacity: 1;
}