.swiper-pagination {
    bottom: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
    color: #7949FF !important;
}

.swiper-pagination-bullet-bullet {
    background-color: #7949FF !important;
}


@media only screen and (max-width: 767px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}