@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --black-headline: #2A282F;
  --black-body: #625F68;
  --gray: #A8A6AC;
  --violet: #7949FF; /* not used */
  --white: #f4f4f4;
  --purple: var(--bs-purple)
}



body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-headline) !important;
}

.text-secondary {
  color: var(--gray) !important;
}

.bg--violet {
  background-color: var(--purple) !important;
}

.color--violet {
  color: var(--purple) !important;
}

.text-body {
  color: var(--black-body) !important;
}

a {
  color: var(--purple);
}

.bg--light-black {
  background-color: #191919 !important;
}

.cursor-pointer{
  cursor: pointer;
}

.right-0 {
  right: 0;
}